{% block body %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<table class="columns">
	{% for k,v in h_data.items(): %}
	<tr>
		<td><div id="chart_div_{{k}}"  style="width: 900px; height: 300px;"><div></td>
	</tr>
		{% endfor %}
</table>


<script type='text/javascript'>//<![CDATA[

google.load('visualization', '1', {packages: ['corechart', 'bar']});

{% for k,v in h_data.items(): %}
google.setOnLoadCallback(drawBasic_{{k}});

function drawBasic_{{k}}() {

    var data = google.visualization.arrayToDataTable([
        ['Spent', '$', { role: 'style' }],
        ['Amazon', {{h_data[k]["amazon"]}}, 'gold'],
        ['Safeway', {{h_data[k]["safeway"]}}, 'orange'],
        ['Whole Food', {{h_data[k]["wholefood"]}}, 'green'],
        ['Traders Joe', {{h_data[k]["traderjoe"]}}, 'brown'],
        ['Korean Markets', {{h_data[k]["koreanmarket"]}}, 'purple'],
        ['Costco', {{h_data[k]["costco"]}}, 'silver'],
        ['Target', {{h_data[k]["target"]}}, 'red'],
        ['Eat Out', {{h_data[k]["eatout"]}}, 'blue'],
        ['Home Repair/Furniture', {{h_data[k]["home_repair"]}}, 'pink']
      ]);

      var options = {

        {% if year == '2017' %}

            {% if (k.split('_')[0] | int) >= 8 %}
                title: '{{k}} Household Overview: ${{'%0.2f' % h_data[k]["total"]}} + $701 (utilities) + $3,386.05(mortgage + tax + insurance + hoa) + $980 (daycare) = ${{'%0.2f' % (h_data[k]["total"]+701+3386.05+980)}}',
            {% else %}
                title: '{{k}} Household Overview: ${{'%0.2f' % h_data[k]["total"]}} + $701 (utilities) + $3,386.05(mortgage + tax + insurance + hoa) = ${{'%0.2f' % (h_data[k]["total"]+701+3386.05)}}',
            {% endif %}

        {% else %}
        title: '{{k}} Household Overview: ${{'%0.2f' % h_data[k]["total"]}} + $701 (utilities) + $3,386.05(mortgage + tax + insurance + hoa) = ${{'%0.2f' % (h_data[k]["total"]+701+3386.05)}}',
        {% endif %}

        chartArea: {width: '70%'},
        hAxis: {
          title: '',
          minValue: 0
        },
        vAxis: {
          title: ''
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div_{{k}}'));
      chart.draw(data, options);
}
{% endfor %}

//]]>

</script>

{% endblock %}
